* {
    box-sizing: border-box;
}

:root {
    --background: #C5C3C6;
    --input: #DCDCDD;
    --color: #111;
    --link: #4C5C68;
    --shadow: #46494C;
    --hover: var(--shadow);
    --radius: 1em;
}

h1 { font-size: 3rem; font-weight: bold; }
h2 { font-size: 2rem; font-weight: bold; }
h3 { font-size: 1.5rem; font-weight: bold; }
h4 { font-size: 1.25rem; font-weight: bold; }
h5 { font-size: 1.1rem; font-weight: bold; }

a {
    text-decoration: none;
    color: var(--link);
    transition: ease-in-out 300ms;
}

html {
    color: var(--color);
    background: var(--background);
}

body {
  margin: 2em 0;
  font-family: system-ui, Roboto, sans-serif;
}

div {
    color: var(--color);
    background: var(--background);
}

input {
    color: var(--color);
    background: var(--input);
    border-radius: var(--radius);
    box-shadow: 4px 6px var(--shadow);
}

button {
    color: var(--color);
    background-color: var(--input);
    border-radius: var(--radius);
    box-shadow: 4px 6px var(--shadow);
}

.wrapper {
    color: var(--color);
    background: var(--background);
}

.content {
}

.content h1 {
}

.content-wrapper {
}

.content-greeting {
}

.content-input {
}

.content-input #search {
    box-sizing: border-box;
    width: 80%;
    height: 32px;
    padding: 1em;
    margin: 1em 1em 1em 0;
    border: 0;
    background: var(--input);
}

.content-input button {
    margin: 1em 0;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.content-input button:hover {
    transform: translateX(5px);
    transform: translateY(3px);
    box-shadow: 2px 3px var(--shadow);
}

.links {
    text-transform: lowercase;
}

.links .menu-block {
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li a {
    color: var(--link);
}

.links ul li a:hover {
    color: var(--hover);
}
